<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portifolio</title>
  <link rel="stylesheet" href="/main.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
  <div class="frame">
    <div class="main_frame">

      <!-- LEFT FRAME -->
      <div class="left_frame frame_border">
        <br class="br_border">

        <!-- Left profile frame -->
        <div class="left_frame-profile">
          <img class="profile_img" src="/author/imgs/Profile.png" alt="Profile Picture" width="156px" height="135px" >
          <h3 class="profile_name">Marcos</h3>
          <p class="profile-job">Heart</p>
          <div class="profile_icon-info">
            <div class="icon_facebook default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
            </div>
            <div class="icon_insta default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14.829 6.302c-.738-.034-.96-.04-2.829-.04s-2.09.007-2.828.04c-1.899.087-2.783.986-2.87 2.87-.033.738-.041.959-.041 2.828s.008 2.09.041 2.829c.087 1.879.967 2.783 2.87 2.87.737.033.959.041 2.828.041 1.87 0 2.091-.007 2.829-.041 1.899-.086 2.782-.988 2.87-2.87.033-.738.04-.96.04-2.829s-.007-2.09-.04-2.828c-.088-1.883-.973-2.783-2.87-2.87zm-2.829 9.293c-1.985 0-3.595-1.609-3.595-3.595 0-1.985 1.61-3.594 3.595-3.594s3.595 1.609 3.595 3.594c0 1.985-1.61 3.595-3.595 3.595zm3.737-6.491c-.464 0-.84-.376-.84-.84 0-.464.376-.84.84-.84.464 0 .84.376.84.84 0 .463-.376.84-.84.84zm-1.404 2.896c0 1.289-1.045 2.333-2.333 2.333s-2.333-1.044-2.333-2.333c0-1.289 1.045-2.333 2.333-2.333s2.333 1.044 2.333 2.333zm-2.333-12c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.958 14.886c-.115 2.545-1.532 3.955-4.071 4.072-.747.034-.986.042-2.887.042s-2.139-.008-2.886-.042c-2.544-.117-3.955-1.529-4.072-4.072-.034-.746-.042-.985-.042-2.886 0-1.901.008-2.139.042-2.886.117-2.544 1.529-3.955 4.072-4.071.747-.035.985-.043 2.886-.043s2.14.008 2.887.043c2.545.117 3.957 1.532 4.071 4.071.034.747.042.985.042 2.886 0 1.901-.008 2.14-.042 2.886z"/></svg>
            </div>
            <div class="icon_twit default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.5 8.778c-.441.196-.916.328-1.414.388.509-.305.898-.787 1.083-1.362-.476.282-1.003.487-1.564.597-.448-.479-1.089-.778-1.796-.778-1.59 0-2.758 1.483-2.399 3.023-2.045-.103-3.86-1.083-5.074-2.572-.645 1.106-.334 2.554.762 3.287-.403-.013-.782-.124-1.114-.308-.027 1.14.791 2.207 1.975 2.445-.346.094-.726.116-1.112.042.313.978 1.224 1.689 2.3 1.709-1.037.812-2.34 1.175-3.647 1.021 1.09.699 2.383 1.106 3.773 1.106 4.572 0 7.154-3.861 6.998-7.324.482-.346.899-.78 1.229-1.274z"/></svg>
            </div>
            <div class="icon_linkedin default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z"/></svg>
            </div>
            <div class="icon_youtube default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.23 7.102c-2.002-.136-6.462-.135-8.461 0-2.165.148-2.419 1.456-2.436 4.898.017 3.436.27 4.75 2.437 4.898 1.999.135 6.459.136 8.461 0 2.165-.148 2.42-1.457 2.437-4.898-.018-3.436-.271-4.75-2.438-4.898zm-6.23 7.12v-4.444l4.778 2.218-4.778 2.226zm2-12.222c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z"/></svg>
            </div>
            <div class="icon_dribble default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 6c-3.313 0-6 2.686-6 6 0 3.313 2.687 6 6 6s6-2.687 6-6c0-3.314-2.687-6-6-6zm4.942 5.72c-1.288-.211-2.472-.223-3.551-.036-.123-.282-.249-.562-.384-.84 1.154-.5 2.083-1.18 2.774-2.041.675.797 1.098 1.81 1.161 2.917zm-1.921-3.64c-.604.777-1.434 1.391-2.492 1.84-.509-.93-1.09-1.838-1.745-2.719.39-.099.796-.158 1.216-.158 1.139 0 2.184.39 3.021 1.037zm-5.257-.497c.666.871 1.255 1.769 1.77 2.69-1.217.357-2.666.542-4.344.554.347-1.418 1.3-2.598 2.574-3.244zm-2.721 4.417l.008-.127c1.923-.003 3.584-.225 4.975-.662.117.237.229.477.335.716-1.69.529-3.083 1.611-4.169 3.24-.717-.86-1.149-1.964-1.149-3.167zm1.914 3.905c.984-1.544 2.242-2.549 3.801-3.013.463 1.21.804 2.455 1.021 3.73-1.675.645-3.476.333-4.822-.717zm5.794.215c-.218-1.177-.54-2.327-.96-3.449.938-.132 1.971-.098 3.1.098-.219 1.394-1.015 2.597-2.14 3.351z"/></svg>
            </div>
          </div>
        </div>

        <!-- Profile Age,Residence, Freelance, Adress -->
        <div class="profile_personal-info">
          <div class="profile_personal-info_frame">
            <h3 class="profile_personal-info_header">Age:</h3>
            <p class="profile_personal_info_text">24</p>
          </div>
          <div class="profile_personal-info_frame">
            <h3 class="profile_personal-info_header">Residence:</h3>
            <p class="profile_personal_info_text">BD</p>
          </div>
          <div class="profile_personal-info_frame">
            <h3 class="profile_personal-info_header">Freelance:</h3>
            <p id="available" class="profile_personal_info_text ">Available</p>
          </div>
          <div class="profile_personal-info_frame">
            <h3 class="profile_personal-info_header">Adress:</h3>
            <p class="profile_personal_info_text">Dakha, Bangladesh</p>
          </div>
        </div>

        <!-- Profile languages -->
        <div class="profile_languages">
          <h2 class="profile_language-title">Language</h2>

          <!-- BANGLA -->
          <div class="profile_language-item">
            <h3 class="profile_language-item_header">Bangla</h3>
            <p class="profile_language-item_text">100%</p>
          </div>
          <span class="author_percentage"></span>

          <!-- ENGLISH -->
          <div class="profile_language-item">
            <h3 class="profile_language-item_header">English</h3>
            <p class="profile_language-item_text">80%</p>
          </div>
          <span class="author_percentage"></span>

          <!-- SPANISH -->
          <div class="profile_language-item">
            <h3 class="profile_language-item_header">Spanish</h3>
            <p class="profile_language-item_text">60%</p>
          </div>
          <span class="author_percentage"></span>
          <span class="profile_language-item_b-border"></span>


        </div>

        <!--Skills -->
        <div class="profile_skill">
          <h2 class="profile_skill-title">Skill</h2>
          <!-- HTML SKILL  -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">Html</h3>
            <p class="profile_skill-item_text">90%</p>
          </div>
          <span class="author_percentage"></span>
          <!-- CSS SKILL -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">Css</h3>
            <p class="profile_skill-item_text">85%</p>
          </div>
          <span class="author_percentage"></span>
          <!-- JS SKILL -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">Js</h3>
            <p class="profile_skill-item_text">80%</p>
          </div>
          <span class="author_percentage"></span>
          <!-- PHP SKILL -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">PHP</h3>
            <p class="profile_skill-item_text">75%</p>
          </div>
          <span class="author_percentage"></span>
          <!-- WORDPRESS SKILL -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">Wordpress</h3>
            <p class="profile_skill-item_text">85%</p>
          </div>
          <span class="author_percentage"></span>
          <span class="profile_language-item_b-border"></span>


        </div>

        <!-- EXTRA SKILLS -->
        <div class="profile_extraskill_root">
          <h2 class="profile_extraskill-title">Extra Skill</h2>
          <div class="profile_extraskill_wrapper">

            <div class="profile_extrSkill-box">
              <div class="profile_extraskill-icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                </svg>
              </div>
              <h3 class="profile_extraskill-name">Bootstrap, Materialize</h3>
            </div>

            <div class="profile_extrSkill-box">
              <div class="profile_extraskill-icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                </svg>
              </div>
              <h3 class="profile_extraskill-name">Stylus, Sass, Less</h3>
            </div>

            <div class="profile_extrSkill-box">
              <div class="profile_extraskill-icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                </svg>
              </div>
              <h3 class="profile_extraskill-name">Gulp, Webpack, Grunt</h3>
            </div>

            <div class="profile_extrSkill-box">
              <div class="profile_extraskill-icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                </svg>
              </div>
              <h3 class="profile_extraskill-name">GIT Knowledge</h3>
            </div>
          </div>
        </div>




      </div>

      <!-- MIDDLE FRAME -->
      <div class="middle_frame frame_border">
        <div class="middle_frame_main-wrapper">

          <div class="middle_frame_top">

            <div class="middle_frame_top-left_info">
              <h2 class="middle_frame_top-left_info-header">Doctor neurologists in OHSU Hospital </h2>
              <p class="middle_frame_top-left_info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
              <button class="middle_frame_top-left_info-btn btn">Hire me</button>
            </div>

            <img class="middle_frame_top_img" src="/author/imgs/MiddleTopImg.png" alt="Top main IMG" width="326" height="446">

          </div>

          <!-- MIDDLE FRAME BUTTOM -->
          <div class="middle_frame_bottom">

            <div class="middle_frame_bottom-service_info">
              <h2 class="middle_frame_bottom-service_info-header">My services</h2>
              <p class="middle_frame_bottom-service_info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
            </div>

            <div class="middle_frame_bottom-service-item-wrapper-1 grid-container">

              <!-- Service item 1 -->
              <div class="service-item">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" fill="none"><path fill="#FFB400" d="M63.219 7.438H4.78a3.723 3.723 0 0 0-3.718 3.718v37.188a3.723 3.723 0 0 0 3.718 3.718h21.274L24.78 55.25h-5.655a1.062 1.062 0 0 0-1.063 1.063v2.124h-6.375a1.062 1.062 0 1 0 0 2.126h44.626a1.062 1.062 0 1 0 0-2.126h-6.376v-2.124a1.062 1.062 0 0 0-1.062-1.063H43.22l-1.275-3.188h21.274a3.723 3.723 0 0 0 3.718-3.718V11.156a3.723 3.723 0 0 0-3.718-3.719ZM47.812 57.374v1.063H20.189v-1.063h27.625ZM27.07 55.25l1.275-3.188h11.31l1.275 3.188H27.07Zm37.742-6.906a1.595 1.595 0 0 1-1.593 1.593H4.78a1.595 1.595 0 0 1-1.593-1.593v-2.657h61.624v2.657Zm0-4.782H3.188V11.157A1.595 1.595 0 0 1 4.78 9.562H63.22a1.595 1.595 0 0 1 1.593 1.594v32.407Z"/><path fill="#FFB400" d="M29.167 34.888a1.063 1.063 0 0 0 1.471-.305l8.368-12.75a1.063 1.063 0 0 0-1.777-1.166l-8.367 12.75a1.062 1.062 0 0 0 .305 1.471ZM40.757 34.816a1.062 1.062 0 0 0 1.497-.136l5.312-6.375a1.063 1.063 0 0 0 0-1.36l-5.312-6.375a1.062 1.062 0 1 0-1.633 1.36l4.746 5.695-4.746 5.695a1.063 1.063 0 0 0 .136 1.496ZM25.746 34.68a1.063 1.063 0 1 0 1.633-1.36l-4.746-5.695 4.746-5.695a1.062 1.062 0 1 0-1.633-1.36l-5.312 6.375a1.062 1.062 0 0 0 0 1.36l5.312 6.375Z"/></svg>
                </span>
                <div class="service_item_tite">web development</div>
                <div class="service_item_bio">blog, e-commerce</div>
              </div>

              <!-- Service item 2 -->
              <div class="service-item">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="none"><path fill="#FFB400" d="M72.66 7.494h-.417l.311-.311a2.392 2.392 0 0 0 0-3.379l-2.437-2.437a2.392 2.392 0 0 0-3.379 0l-6.126 6.126H3.34A3.344 3.344 0 0 0 0 10.833v46.233a4.087 4.087 0 0 0 4.082 4.082h26.37v7.876h-5.366a2.6 2.6 0 0 0-2.598 2.597v1.113a2.6 2.6 0 0 0 2.598 2.597h25.828a2.6 2.6 0 0 0 2.598-2.597V71.62a2.6 2.6 0 0 0-2.598-2.597H45.55v-7.876h11.896a1.113 1.113 0 1 0 0-2.226H4.082a1.857 1.857 0 0 1-1.855-1.856v-3.295h71.546v3.295a1.857 1.857 0 0 1-1.855 1.856h-9.277a1.113 1.113 0 0 0 0 2.226h9.277A4.087 4.087 0 0 0 76 57.066V10.833a3.344 3.344 0 0 0-3.34-3.34ZM50.914 71.25c.205 0 .371.167.371.371v1.113a.371.371 0 0 1-.37.37h-25.83a.371.371 0 0 1-.37-.37V71.62c0-.204.166-.37.37-.37h25.83ZM32.678 61.148h10.644v7.876H32.678v-7.876ZM68.313 2.942a.163.163 0 0 1 .23 0l2.437 2.436a.163.163 0 0 1 0 .23l-2.326 2.326-2.666-2.667 2.325-2.325Zm-3.9 3.9 2.667 2.666-.777.777-2.666-2.667.776-.777Zm-2.35 2.35 2.666 2.667-13.174 13.174-2.667-2.667L62.062 9.192ZM60.413 19.37a2.75 2.75 0 0 1 2.746 2.747 2.75 2.75 0 0 1-2.746 2.746 2.75 2.75 0 0 1-2.746-2.746c0-.018.002-.035.003-.053l2.691-2.69.052-.003ZM49.622 26.25l-3.295 1.345 1.346-3.295 1.949 1.95Zm24.151 25.296H2.227V10.833c0-.613.499-1.113 1.113-1.113h55.046l-1.698 1.698H18.852a1.113 1.113 0 1 0 0 2.226h35.61l-7.853 7.853a2.375 2.375 0 0 0-.514.778l-2.487 6.088c-.228.56-.1 1.196.327 1.623a1.492 1.492 0 0 0 1.624.327l6.088-2.486c.284-.116.538-.284.758-.497l3.386-3.387a4.978 4.978 0 0 0 4.623 3.146 4.978 4.978 0 0 0 4.973-4.972 4.978 4.978 0 0 0-3.145-4.623l3.85-3.85h3.757v33.977h-.59l-4.034-6.988a1.113 1.113 0 1 0-1.928 1.113l3.391 5.875H51.137l-1.668-2.89 7.776-13.468 3.454 5.984a1.113 1.113 0 1 0 1.928-1.114l-3.685-6.383a1.94 1.94 0 0 0-1.698-.98 1.94 1.94 0 0 0-1.697.98l-7.364 12.755-9.449-16.365a1.94 1.94 0 0 0-1.697-.98 1.94 1.94 0 0 0-1.698.98l-2.51 4.348V18.554a2.6 2.6 0 0 0-2.598-2.597H11.133a2.6 2.6 0 0 0-2.598 2.597v24.344c0 1.023.832 1.856 1.856 1.856h14.202l-1.655 2.867H6.15V13.644h7.505a1.113 1.113 0 1 0 0-2.226H5.78a1.857 1.857 0 0 0-1.856 1.855v34.719c0 1.023.833 1.855 1.856 1.855h64.44a1.858 1.858 0 0 0 1.856-1.855V13.273a1.858 1.858 0 0 0-1.856-1.855H68.32l1.697-1.698h2.644c.614 0 1.113.5 1.113 1.113v40.712ZM30.603 24.72v17.807H10.762V24.72h19.84Zm-19.841-2.227v-3.939c0-.204.166-.371.37-.371h19.1c.204 0 .37.166.37.371v3.94h-19.84Zm16.402 22.26h3.81a1.858 1.858 0 0 0 1.856-1.855V40.54c.278.133.588.206.913.206.76 0 1.44-.394 1.82-1.052l1.895-3.281a.23.23 0 0 1 .208-.12.23.23 0 0 1 .208.12l1.168 2.023a2.08 2.08 0 0 0 1.82 1.051c.76 0 1.441-.393 1.821-1.05l.29-.503 5.593 9.686H25.509l1.655-2.867Zm5.666-7.94V34.94l4.207-7.287 4.65 8.054-.825 1.43-1.06-1.838a2.442 2.442 0 0 0-2.136-1.233c-.892 0-1.69.461-2.137 1.233l-1.787 3.095-.912-1.581Z"/></svg>
                </span>
                <div class="service_item_tite">UI/UX design</div>
                <div class="service_item_bio">Mobile app, website design</div>
              </div>


              <!-- Service item 3 -->
              <div class="service-item">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" fill="none"><g fill="#FFB400" clip-path="url(#a)"><path d="M37 0c-7.982 0-14.478 6.753-14.478 15.053V37c0 8.3 6.496 15.053 14.478 15.053 7.983 0 14.478-6.752 14.478-15.053V15.053C51.478 6.753 44.983 0 37 0Zm0 48.835c-5.688 0-10.393-4.46-11.145-10.226h22.289c-.75 5.767-5.455 10.226-11.144 10.226Zm11.261-13.444H25.74V15.053C25.74 8.526 30.791 3.217 37 3.217c6.21 0 11.261 5.31 11.261 11.836V35.39Z"/><path d="M59.522 28.956a1.61 1.61 0 0 0-1.609 1.61V37c0 11.531-9.382 20.913-20.913 20.913S16.087 48.531 16.087 37v-6.435a1.61 1.61 0 0 0-3.217 0V37c0 12.762 9.966 23.215 22.521 24.048v9.735h-8.043a1.61 1.61 0 0 0 0 3.217h19.304a1.61 1.61 0 0 0 0-3.217H38.61v-9.735C51.165 60.215 61.13 49.762 61.13 37v-6.435a1.61 1.61 0 0 0-1.608-1.609Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h74v74H0z"/></clipPath></defs></svg>
                </span>
                <div class="service_item_tite">sound design</div>
                <div class="service_item_bio">Voice Over, Beat Making</div>
              </div>

            </div>


            <div class="middle_frame_bottom-service-item-wrapper grid-container">

              <!-- Service item 4 -->
              <div class="service-item">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" fill="none"><path fill="#FFB400" d="M32.375 38.156h9.25v2.313h-9.25v-2.313Z"/><path fill="#FFB400" d="M35.844 34.688h2.312v9.25h-2.312v-9.25ZM65.906 38.156h2.313v2.313h-2.313v-2.313ZM56.656 38.156h2.313v2.313h-2.313v-2.313ZM61.281 33.531h2.313v2.313H61.28V33.53ZM61.281 42.781h2.313v2.313H61.28V42.78ZM10.66 20.379l-5.203-6.504 5.203-6.504 1.805 1.445-4.047 5.059 4.047 5.059-1.805 1.445ZM28.653 20.379l-1.806-1.445 4.048-5.059-4.048-5.059 1.806-1.445 5.202 6.504-5.202 6.504ZM14.738 17.738l8.096-9.248 1.74 1.522-8.096 9.249-1.74-1.523ZM9.25 50.875H4.625V46.25h2.313v2.313H9.25v2.312Z"/><path fill="#FFB400" d="M70.531 2.313H3.47A3.469 3.469 0 0 0 0 5.78v46.25A3.469 3.469 0 0 0 3.469 55.5H27.75v5.781a3.469 3.469 0 0 1-3.469 3.469H18.5v6.938h37V64.75h-5.781a3.469 3.469 0 0 1-3.469-3.469V55.5h24.281A3.469 3.469 0 0 0 74 52.031V5.781a3.469 3.469 0 0 0-3.469-3.468Zm-17.344 64.75v2.312H20.813v-2.313h32.374ZM37 62.486a3.469 3.469 0 0 0 3.469-3.469V55.5h3.468v5.781a5.724 5.724 0 0 0 1.187 3.469H28.876a5.724 5.724 0 0 0 1.186-3.469V55.5h3.47v3.517A3.469 3.469 0 0 0 37 62.487Zm-1.156-3.469V55.5h2.312v3.517a1.156 1.156 0 0 1-2.312 0Zm35.843-6.986c0 .639-.517 1.157-1.156 1.157H3.47a1.156 1.156 0 0 1-1.156-1.157V41.625h23.356A11.553 11.553 0 0 0 47 45.094h5.435a11.532 11.532 0 0 0 19.252 1.126v5.811Zm-9.25-3.468a9.198 9.198 0 0 1-8.276-5.141l-.32-.64h-8.244l-.32.64A9.25 9.25 0 1 1 37 30.062h25.438a9.25 9.25 0 0 1 9.25 9.25 9.25 9.25 0 0 1-9.25 9.25Zm9.25-16.158a11.54 11.54 0 0 0-9.25-4.655H37c-6.383.007-11.556 5.18-11.563 11.563H2.313V5.78c0-.638.518-1.156 1.157-1.156H70.53c.639 0 1.156.518 1.156 1.156v26.624Z"/><path fill="#FFB400" d="M47.406 38.156h4.625v2.313h-4.625v-2.313ZM34.688 9.25h9.25v2.313h-9.25V9.25ZM48.563 9.25h18.5v2.313h-18.5V9.25ZM50.875 13.875h16.188v2.313H50.874v-2.313ZM37 13.875h9.25v2.313H37v-2.313ZM34.688 18.5h23.124v2.313H34.689V18.5ZM62.438 18.5h4.624v2.313h-4.624V18.5ZM6.938 23.125H18.5v2.313H6.937v-2.313ZM23.125 23.125h21.969v2.313H23.125v-2.313ZM48.563 23.125h18.5v2.313h-18.5v-2.313ZM6.938 27.75h18.5v2.313h-18.5V27.75ZM6.938 32.375h9.25v2.313h-9.25v-2.313ZM18.5 32.375h4.625v2.313H18.5v-2.313Z"/></svg>
                </span>
                <div class="service_item_tite">Game design</div>
                <div class="service_item_bio">Character Design, Props & Objects</div>
              </div>
              <!-- Service item 5 -->
              <div class="service-item">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="78" height="78" fill="none"><path fill="#FFB400" d="M55.355 72.968h19.358l-4.97-14.91a11.327 11.327 0 0 0-8.655-7.547l-13.282-2.49v-3.074a15.092 15.092 0 0 0 6.08-9.827c2.968-.502 5.243-3.075 5.243-6.184v-8.807C59.129 9.03 50.099 0 38.999 0 27.902 0 18.872 9.03 18.872 20.129v8.806c0 3.107 2.263 5.695 5.227 6.201a15.12 15.12 0 0 0 6.095 9.83v3.056l-13.282 2.49a11.329 11.329 0 0 0-8.656 7.548L3.287 72.968h19.358v-2.516h-3.42l2.124-8.502-2.44-.61-2.279 9.112H6.777l3.866-11.597a8.814 8.814 0 0 1 6.732-5.872l8.014-1.502 2.05 9.22a3.776 3.776 0 0 0-2.278 3.46v10.065A3.779 3.779 0 0 0 28.935 78h20.13a3.779 3.779 0 0 0 3.774-3.774V64.16c0-1.548-.939-2.88-2.276-3.46l2.05-9.22 8.013 1.502a8.816 8.816 0 0 1 6.732 5.872l3.865 11.597h-9.854l-2.278-9.111-2.44.609 2.124 8.502h-3.42v2.516Zm-5.218-21.951L48.4 58.835l-.87-3.48h-5.493l4.931-4.932 3.17.594Zm-3.942 9.37h-14.39l.629-2.516h13.132l.629 2.516ZM39 54.834l-6.29-6.29v-2.121A14.992 14.992 0 0 0 39 47.806a14.99 14.99 0 0 0 6.29-1.39v2.128L39 54.834Zm15.097-22.356v-7.084c1.46.52 2.516 1.905 2.516 3.543 0 1.638-1.056 3.02-2.516 3.541Zm-30.194.017a3.781 3.781 0 0 1-2.516-3.56c0-1.64 1.052-3.039 2.516-3.559v7.119Zm-2.516-8.56V20.13c0-9.712 7.9-17.613 17.613-17.613 9.712 0 17.613 7.9 17.613 17.613v3.807a6.232 6.232 0 0 0-2.557-1.168 3.031 3.031 0 0 0-2.996-2.639c-.8 0-1.582.325-2.21.954a13.818 13.818 0 0 1-7.734 3.92l.08-.161c.21-.42.32-.89.32-1.359v-.317a3.04 3.04 0 0 0-3.037-3.037c-.799 0-1.581.325-2.148.89a14.058 14.058 0 0 1-9.912 4.142v-2.516h-1.258c-1.422 0-2.72.492-3.774 1.29Zm5.032 8.775v-5.033A16.554 16.554 0 0 0 38.11 22.8c.303-.305.89-.057.89.367v.317c0 .08-.018.161-.055.234l-1.98 3.96H39c4.393 0 8.522-1.71 11.69-4.878.304-.305.89-.057.89.367v9.544c0 6.937-5.643 12.58-12.58 12.58s-12.58-5.643-12.58-12.58Zm4.612 17.713 4.932 4.932h-5.494l-.87 3.48-1.737-7.818 3.17-.594Zm-2.096 25.06a1.26 1.26 0 0 1-1.258-1.257V64.16a1.26 1.26 0 0 1 1.258-1.258h3.914a8.773 8.773 0 0 0 0 12.58h-3.914Zm10.065 0a6.297 6.297 0 0 1-6.29-6.29 6.297 6.297 0 0 1 6.29-6.29 6.297 6.297 0 0 1 6.29 6.29 6.297 6.297 0 0 1-6.29 6.29Zm11.322-1.257a1.26 1.26 0 0 1-1.258 1.258h-3.913a8.773 8.773 0 0 0 2.655-6.29 8.773 8.773 0 0 0-2.655-6.29h3.913a1.26 1.26 0 0 1 1.258 1.257v10.065Z"/><path fill="#FFB400" d="M39 65.42a3.779 3.779 0 0 0-3.774 3.774A3.779 3.779 0 0 0 39 72.968a3.779 3.779 0 0 0 3.774-3.774A3.779 3.779 0 0 0 39 65.419Zm0 5.032a1.26 1.26 0 0 1-1.258-1.258A1.26 1.26 0 1 1 39 70.452Z"/></svg>
                </span>
                <div class="service_item_tite">Photography</div>
                <div class="service_item_bio">Portrait, product photography</div>
              </div>

              <!-- Service item 6 -->
              <div id="serviceBox" class="service-item">
                <div class="service_item_tite">advertising</div>
                <p class="service_item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi.</p>
                <a href="#" class="service_item_link">ORDER NOW</a>
              </div>
            </div>

          </div>

        </div>
      </div>


      <!-- RIGHT FRAME -->
      <div class="right_frame frame_border">
        <div class="right_frame_icon-wr">
          <div id="rf_darkMode-icon" class="fr_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"><g clip-path="url(#a)"><path fill="#2B2B2B" d="M15.5 27C8.596 27 3 21.404 3 14.5S8.596 2 15.5 2 28 7.596 28 14.5 22.404 27 15.5 27Zm-8.339-6.969A10 10 0 1 0 21.031 6.16a11.247 11.247 0 0 1-2.88 10.991 11.246 11.246 0 0 1-10.99 2.88Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h30v30H0z"/></clipPath></defs></svg>
          </div>

          <div class="fr_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><circle cx="20" cy="20" r="20" fill="#FFB400"/><g clip-path="url(#a)"><path fill="#2B2B2B" d="M26 26a.75.75 0 0 1-.75.75h-10.5A.75.75 0 0 1 14 26v-6.75h-2.25l7.745-7.041a.75.75 0 0 1 1.01 0l7.745 7.04H26V26Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M11 11h18v18H11z"/></clipPath></defs></svg>
          </div>
          <div class="fr_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><circle cx="20" cy="20" r="20" fill="#F0F0F6"/><g clip-path="url(#a)"><path fill="#767676" d="M28.5 15.287v.213H23V11h.26c.274 0 .536.089.73.247l4.208 3.443a.775.775 0 0 1 .302.597Zm-5.844 1.338c-.567 0-1.031-.38-1.031-.844V11h-8.594c-.57 0-1.031.378-1.031.844v16.312c0 .466.462.844 1.031.844H27.47c.57 0 1.031-.378 1.031-.844V16.625h-5.844Zm-5.362 8.455a.238.238 0 0 1-.074.043.275.275 0 0 1-.254-.034l-2.787-2.138a.196.196 0 0 1-.054-.063.161.161 0 0 1 0-.151.195.195 0 0 1 .054-.063l2.787-2.138a.245.245 0 0 1 .077-.04.279.279 0 0 1 .177.006c.028.01.053.024.074.043l.841.734a.19.19 0 0 1 .049.064.16.16 0 0 1-.009.148.2.2 0 0 1-.056.06l-1.751 1.262 1.751 1.26a.2.2 0 0 1 .056.06.16.16 0 0 1 .009.148.19.19 0 0 1-.049.065l-.841.734Zm2.204 1.775-1.18-.28a.229.229 0 0 1-.138-.091.16.16 0 0 1-.02-.145l2.64-7.44a.202.202 0 0 1 .111-.113.278.278 0 0 1 .177-.016l1.18.28c.029.007.056.019.08.034a.203.203 0 0 1 .058.057.159.159 0 0 1 .02.144l-2.64 7.44a.182.182 0 0 1-.042.066.228.228 0 0 1-.07.048.267.267 0 0 1-.176.016Zm6.91-3.904-2.788 2.138a.243.243 0 0 1-.077.04.282.282 0 0 1-.177-.006.24.24 0 0 1-.074-.043l-.841-.734a.188.188 0 0 1-.049-.064.159.159 0 0 1 .009-.148.2.2 0 0 1 .056-.06l1.751-1.262-1.751-1.26a.2.2 0 0 1-.056-.06.163.163 0 0 1-.009-.149.19.19 0 0 1 .049-.064l.841-.734a.236.236 0 0 1 .074-.043.275.275 0 0 1 .254.034l2.787 2.138c.023.018.042.04.054.063a.16.16 0 0 1 0 .151.195.195 0 0 1-.054.063Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M12 11h16.5v18H12z"/></clipPath></defs></svg>
          </div>
          <div class="fr_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><circle cx="20" cy="20" r="20" fill="#F0F0F6"/><g clip-path="url(#a)"><path fill="#767676" d="m23.764 22.272-3.514 3.354-3.514-3.354C14.103 22.381 12 24.438 12 26.976v.337c0 .932.792 1.688 1.768 1.688h12.964c.976 0 1.768-.756 1.768-1.688v-.337c0-2.538-2.103-4.595-4.736-4.704ZM12.5 13.806l.236.053v2.053c-.258.148-.442.405-.442.714 0 .295.17.541.409.692l-.575 2.19c-.063.243.077.493.28.493h1.54c.202 0 .342-.25.28-.492l-.575-2.19c.24-.152.409-.398.409-.693 0-.31-.185-.566-.443-.714v-1.849l2.431.559a4.304 4.304 0 0 0-.515 2.004c0 2.485 2.11 4.5 4.714 4.5 2.604 0 4.714-2.015 4.714-4.5 0-.724-.195-1.4-.515-2.004l3.546-.816c.67-.154.67-.952 0-1.107l-7.012-1.617a3.313 3.313 0 0 0-1.462 0l-7.02 1.613c-.667.155-.667.957 0 1.111Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M11 11h18v18H11z"/></clipPath></defs></svg>
          </div>
          <div class="fr_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><circle cx="20" cy="20" r="20" fill="#F0F0F6"/><g clip-path="url(#a)"><path fill="#767676" d="M17.75 20.75V23h4.5v-2.25h5.25V26a.75.75 0 0 1-.75.75h-13.5a.75.75 0 0 1-.75-.75v-5.25h5.25Zm1.5-1.5h1.5v2.25h-1.5v-2.25Zm-3-4.5V12.5a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 .75.75v2.25h3a.75.75 0 0 1 .75.75v3.75h-5.25v-1.5h-4.5v1.5H12.5V15.5a.75.75 0 0 1 .75-.75h3Zm1.5-1.5v1.5h4.5v-1.5h-4.5Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M11 11h18v18H11z"/></clipPath></defs></svg>
          </div>
          <div class="fr_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><circle cx="20" cy="20" r="20" fill="#F0F0F6"/><g clip-path="url(#a)"><path fill="#767676" d="M26.75 12.5C15.5 12.5 14 23 13.25 27.5h1.498c.5-2.5 1.75-3.875 3.752-4.125 3-.375 5.25-3 6-5.25l-1.125-.75.75-.75c.75-.75 1.503-1.875 2.625-4.125Z"/><path fill="#D9D9D9" d="M-27-33H73V67H-27z"/></g><defs><clipPath id="a"><path fill="#fff" d="M11 11h18v18H11z"/></clipPath></defs></svg>
          </div>
          <div class="fr_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><circle cx="20" cy="20" r="20" fill="#F0F0F6"/><g clip-path="url(#a)"><path fill="#767676" d="M15.841 25.25 12.5 27.875V14a.75.75 0 0 1 .75-.75h13.5a.75.75 0 0 1 .75.75v10.5a.75.75 0 0 1-.75.75H15.841Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M11 11h18v18H11z"/></clipPath></defs></svg>
          </div>


        </div>
      </div>

    </div>
  </div>
</body>

</html>