<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portifolio</title>
  <link rel="stylesheet" href="/main.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
  <div class="frame">
    <div class="main_frame">

      <!-- LEFT FRAME -->
      <div class="left_frame frame_border">
        <br class="br_border">

        <!-- Left profile frame -->
        <div class="left_frame-profile">
          <img class="profile_img" src="/author/imgs/Profile.png" alt="Profile Picture" width="156px" height="135px" >
          <h3 class="profile_name">Marcos</h3>
          <p class="profile-job">Heart</p>
          <div class="profile_icon-info">
            <div class="icon_facebook default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/></svg>
            </div>
            <div class="icon_insta default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14.829 6.302c-.738-.034-.96-.04-2.829-.04s-2.09.007-2.828.04c-1.899.087-2.783.986-2.87 2.87-.033.738-.041.959-.041 2.828s.008 2.09.041 2.829c.087 1.879.967 2.783 2.87 2.87.737.033.959.041 2.828.041 1.87 0 2.091-.007 2.829-.041 1.899-.086 2.782-.988 2.87-2.87.033-.738.04-.96.04-2.829s-.007-2.09-.04-2.828c-.088-1.883-.973-2.783-2.87-2.87zm-2.829 9.293c-1.985 0-3.595-1.609-3.595-3.595 0-1.985 1.61-3.594 3.595-3.594s3.595 1.609 3.595 3.594c0 1.985-1.61 3.595-3.595 3.595zm3.737-6.491c-.464 0-.84-.376-.84-.84 0-.464.376-.84.84-.84.464 0 .84.376.84.84 0 .463-.376.84-.84.84zm-1.404 2.896c0 1.289-1.045 2.333-2.333 2.333s-2.333-1.044-2.333-2.333c0-1.289 1.045-2.333 2.333-2.333s2.333 1.044 2.333 2.333zm-2.333-12c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.958 14.886c-.115 2.545-1.532 3.955-4.071 4.072-.747.034-.986.042-2.887.042s-2.139-.008-2.886-.042c-2.544-.117-3.955-1.529-4.072-4.072-.034-.746-.042-.985-.042-2.886 0-1.901.008-2.139.042-2.886.117-2.544 1.529-3.955 4.072-4.071.747-.035.985-.043 2.886-.043s2.14.008 2.887.043c2.545.117 3.957 1.532 4.071 4.071.034.747.042.985.042 2.886 0 1.901-.008 2.14-.042 2.886z"/></svg>
            </div>
            <div class="icon_twit default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.5 8.778c-.441.196-.916.328-1.414.388.509-.305.898-.787 1.083-1.362-.476.282-1.003.487-1.564.597-.448-.479-1.089-.778-1.796-.778-1.59 0-2.758 1.483-2.399 3.023-2.045-.103-3.86-1.083-5.074-2.572-.645 1.106-.334 2.554.762 3.287-.403-.013-.782-.124-1.114-.308-.027 1.14.791 2.207 1.975 2.445-.346.094-.726.116-1.112.042.313.978 1.224 1.689 2.3 1.709-1.037.812-2.34 1.175-3.647 1.021 1.09.699 2.383 1.106 3.773 1.106 4.572 0 7.154-3.861 6.998-7.324.482-.346.899-.78 1.229-1.274z"/></svg>
            </div>
            <div class="icon_linkedin default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z"/></svg>
            </div>
            <div class="icon_youtube default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.23 7.102c-2.002-.136-6.462-.135-8.461 0-2.165.148-2.419 1.456-2.436 4.898.017 3.436.27 4.75 2.437 4.898 1.999.135 6.459.136 8.461 0 2.165-.148 2.42-1.457 2.437-4.898-.018-3.436-.271-4.75-2.438-4.898zm-6.23 7.12v-4.444l4.778 2.218-4.778 2.226zm2-12.222c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12z"/></svg>
            </div>
            <div class="icon_dribble default_icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 6c-3.313 0-6 2.686-6 6 0 3.313 2.687 6 6 6s6-2.687 6-6c0-3.314-2.687-6-6-6zm4.942 5.72c-1.288-.211-2.472-.223-3.551-.036-.123-.282-.249-.562-.384-.84 1.154-.5 2.083-1.18 2.774-2.041.675.797 1.098 1.81 1.161 2.917zm-1.921-3.64c-.604.777-1.434 1.391-2.492 1.84-.509-.93-1.09-1.838-1.745-2.719.39-.099.796-.158 1.216-.158 1.139 0 2.184.39 3.021 1.037zm-5.257-.497c.666.871 1.255 1.769 1.77 2.69-1.217.357-2.666.542-4.344.554.347-1.418 1.3-2.598 2.574-3.244zm-2.721 4.417l.008-.127c1.923-.003 3.584-.225 4.975-.662.117.237.229.477.335.716-1.69.529-3.083 1.611-4.169 3.24-.717-.86-1.149-1.964-1.149-3.167zm1.914 3.905c.984-1.544 2.242-2.549 3.801-3.013.463 1.21.804 2.455 1.021 3.73-1.675.645-3.476.333-4.822-.717zm5.794.215c-.218-1.177-.54-2.327-.96-3.449.938-.132 1.971-.098 3.1.098-.219 1.394-1.015 2.597-2.14 3.351z"/></svg>
            </div>
          </div>
        </div>

        <!-- Profile Age,Residence, Freelance, Adress -->
        <div class="profile_personal-info">
          <div class="profile_personal-info_frame">
            <h3 class="profile_personal-info_header">Age:</h3>
            <p class="profile_personal_info_text">24</p>
          </div>
          <div class="profile_personal-info_frame">
            <h3 class="profile_personal-info_header">Residence:</h3>
            <p class="profile_personal_info_text">BD</p>
          </div>
          <div class="profile_personal-info_frame">
            <h3 class="profile_personal-info_header">Freelance:</h3>
            <p id="available" class="profile_personal_info_text ">Available</p>
          </div>
          <div class="profile_personal-info_frame">
            <h3 class="profile_personal-info_header">Adress:</h3>
            <p class="profile_personal_info_text">Dakha, Bangladesh</p>
          </div>
        </div>

        <!-- Profile languages -->
        <div class="profile_languages">
          <h2 class="profile_language-title">Language</h2>

          <!-- BANGLA -->
          <div class="profile_language-item">
            <h3 class="profile_language-item_header">Bangla</h3>
            <p class="profile_language-item_text">100%</p>
          </div>
          <span class="author_percentage"></span>

          <!-- ENGLISH -->
          <div class="profile_language-item">
            <h3 class="profile_language-item_header">English</h3>
            <p class="profile_language-item_text">80%</p>
          </div>
          <span class="author_percentage"></span>

          <!-- SPANISH -->
          <div class="profile_language-item">
            <h3 class="profile_language-item_header">Spanish</h3>
            <p class="profile_language-item_text">60%</p>
          </div>
          <span class="author_percentage"></span>
          <span class="profile_language-item_b-border"></span>


        </div>

        <!--Skills -->
        <div class="profile_skill">
          <h2 class="profile_skill-title">Skill</h2>
          <!-- HTML SKILL  -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">Html</h3>
            <p class="profile_skill-item_text">90%</p>
          </div>
          <span class="author_percentage"></span>
          <!-- CSS SKILL -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">Css</h3>
            <p class="profile_skill-item_text">85%</p>
          </div>
          <span class="author_percentage"></span>
          <!-- JS SKILL -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">Js</h3>
            <p class="profile_skill-item_text">80%</p>
          </div>
          <span class="author_percentage"></span>
          <!-- PHP SKILL -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">PHP</h3>
            <p class="profile_skill-item_text">75%</p>
          </div>
          <span class="author_percentage"></span>
          <!-- WORDPRESS SKILL -->
          <div class="profile_skill-item">
            <h3 class="profile_skill-item_header">Wordpress</h3>
            <p class="profile_skill-item_text">85%</p>
          </div>
          <span class="author_percentage"></span>
          <span class="profile_language-item_b-border"></span>


        </div>

        <!-- EXTRA SKILLS -->
        <div class="profile_extraskill_root">
          <h2 class="profile_extraskill-title">Extra Skill</h2>
          <div class="profile_extraskill_wrapper">

            <div class="profile_extrSkill-box">
              <div class="profile_extraskill-icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                </svg>
              </div>
              <h3 class="profile_extraskill-name">Bootstrap, Materialize</h3>
            </div>

            <div class="profile_extrSkill-box">
              <div class="profile_extraskill-icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                </svg>
              </div>
              <h3 class="profile_extraskill-name">Stylus, Sass, Less</h3>
            </div>

            <div class="profile_extrSkill-box">
              <div class="profile_extraskill-icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                </svg>
              </div>
              <h3 class="profile_extraskill-name">Gulp, Webpack, Grunt</h3>
            </div>

            <div class="profile_extrSkill-box">
              <div class="profile_extraskill-icon">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                  <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                </svg>
              </div>
              <h3 class="profile_extraskill-name">GIT Knowledge</h3>
            </div>
          </div>
        </div>




      </div>

      <!-- MIDDLE FRAME -->
      <div class="middle_frame frame_border">
        <div class="middle_frame_main-wrapper">

          <div class="middle_frame_top">

            <div class="middle_frame_top-left_info">
              <h2 class="middle_frame_top-left_info-header">Doctor neurologists in OHSU Hospital </h2>
              <p class="middle_frame_top-left_info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
              <button class="middle_frame_top-left_info-btn btn">Hire me</button>
            </div>

            <img class="middle_frame_top_img" src="/author/imgs/MiddleTopImg.png" alt="Top main IMG" width="326" height="446">

          </div>

          <!-- MIDDLE FRAME BUTTOM -->
          <div class="middle_frame_bottom">

            <div class="middle_frame_bottom-service_info">
              <h2 class="middle_frame_bottom-service_info-header">My services</h2>
              <p class="middle_frame_bottom-service_info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
            </div>

            <div class="middle_frame_bottom-service-item-wrapper">
              <div class="service-item">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" fill="none"><path fill="#FFB400" d="M63.219 7.438H4.78a3.723 3.723 0 0 0-3.718 3.718v37.188a3.723 3.723 0 0 0 3.718 3.718h21.274L24.78 55.25h-5.655a1.062 1.062 0 0 0-1.063 1.063v2.124h-6.375a1.062 1.062 0 1 0 0 2.126h44.626a1.062 1.062 0 1 0 0-2.126h-6.376v-2.124a1.062 1.062 0 0 0-1.062-1.063H43.22l-1.275-3.188h21.274a3.723 3.723 0 0 0 3.718-3.718V11.156a3.723 3.723 0 0 0-3.718-3.719ZM47.812 57.374v1.063H20.189v-1.063h27.625ZM27.07 55.25l1.275-3.188h11.31l1.275 3.188H27.07Zm37.742-6.906a1.595 1.595 0 0 1-1.593 1.593H4.78a1.595 1.595 0 0 1-1.593-1.593v-2.657h61.624v2.657Zm0-4.782H3.188V11.157A1.595 1.595 0 0 1 4.78 9.562H63.22a1.595 1.595 0 0 1 1.593 1.594v32.407Z"/><path fill="#FFB400" d="M29.167 34.888a1.063 1.063 0 0 0 1.471-.305l8.368-12.75a1.063 1.063 0 0 0-1.777-1.166l-8.367 12.75a1.062 1.062 0 0 0 .305 1.471ZM40.757 34.816a1.062 1.062 0 0 0 1.497-.136l5.312-6.375a1.063 1.063 0 0 0 0-1.36l-5.312-6.375a1.062 1.062 0 1 0-1.633 1.36l4.746 5.695-4.746 5.695a1.063 1.063 0 0 0 .136 1.496ZM25.746 34.68a1.063 1.063 0 1 0 1.633-1.36l-4.746-5.695 4.746-5.695a1.062 1.062 0 1 0-1.633-1.36l-5.312 6.375a1.062 1.062 0 0 0 0 1.36l5.312 6.375Z"/></svg>
                </span>
                <div class="service_item_tite">web development</div>
                <div class="service_item_bio">blog, e-commerce</div>
              </div>
            </div>





          </div>




        </div>
      </div>


      <!-- RIGHT FRAME -->
      <div class="right_frame frame_border"></div>

    </div>
  </div>
</body>

</html>