.frame{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(225, 214, 191);

}
.main_frame{
  position:relative;
  width: 1440px;
  height: 1312px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin:2px;
  background-color: rgb(179, 166, 138);

}

.left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  background-color: #806565;
  display: flex;
  flex-direction: column;
}

/* Left frame profile styles */
.left_frame-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
  margin-right: 47px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.profile_img {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  display: block;
}
.profile_name {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: medium;
  color: #2B2B2B;
}
.profile-job {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 24px;
  color: #767676;
}
.profile_icon-info {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
}

.default_icon{
  margin: 0;
  padding: 0;
  width: 24px;
  height: 21px;
}


/* Profile Age,Residence, Freelance, Adress */
.profile_personal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 221px;
  height: 126px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin: 25px 42px;
  border-top: 1px solid #F0F0F6;

}

.profile_personal-info_frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;

}

.profile_personal-info_header {
  font-size: 15px;
  color: #2B2B2B;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;


}
.profile_personal_info_text {
  font-size: 15px;
  color: #2B2B2B;
  font-weight: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

.profile_personal-info_text {
}


/* Profile LAnguages */

.profile_languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 221px;
  height: 126px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin: 25px 42px;
  border-top: 1px solid #F0F0F6;
}
.profile_language-title {
}
.profile_language-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile_language-item_header {
  font-size: 15px;
  color: #2B2B2B;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;


}
.profile_language-item_text {
  font-size: 15px;
  color: #2B2B2B;
  font-weight: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}
.middle_frame {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 27px;
  width: 971px;
  height: 1256px;
  background-color: #d4c7c7;
}

.right_frame {
position: relative;
width: 108px;
height: 1315px;
background-color: #94adce;
align-items: center;
flex-direction: column;
}

.frame_border {
  border: px solid rgb(42, 39, 34);
}