.frame{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  /* background-color: rgb(225, 214, 191); */

}
.main_frame{
  position:relative;
  width: 1440px;
  height: 1312px;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin:2px;
}

.left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
}

/* Left frame profile styles */
.left_frame-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
  margin-right: 47px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.profile_img {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  display: block;
}
.profile_name {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: medium;
  color: #2B2B2B;
}
.profile-job {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 24px;
  color: #767676;
}
.profile_icon-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.default_icon{
  margin: 0;
  padding: 0;
  width: 24px;
  height: 21px;
}


/* Profile Age,Residence, Freelance, Adress */
.profile_personal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 221px;
  height: 126px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin: 25px 42px;
  border-top: 1px solid #F0F0F6;

}

.profile_personal-info_frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;

}

.profile_personal-info_header {
  font-size: 15px;
  color: #767676;
  background-color: #FFB400;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

#available{
  color: #7EB942;
}
.profile_personal_info_text {
  font-size: 15px;
  color: #767676;
  font-weight: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}


/* Profile LAnguages */

.profile_languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 221px;
  height: 126px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin: 25px 42px;
  border-top: 1px solid #F0F0F6;
}

.profile_language-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile_language-item_header {
  font-size: 15px;
  color: #767676;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;


}
.profile_language-item_text {
  font-size: 15px;
  color: #767676;
  font-weight: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

.author_percentage{
  width: 220px;
  height: 4px;
  flex-shrink: 0;
  background-color: #FFB400;
}

.profile_language-item_b-border{
  margin-top: 25px;
  width: 220px;
  height: 1.5px;
  background-color: #F0F0F6;
  flex-shrink: 0;
}


/* SKILL SECTION */
.profile_skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 221px;
  height: 153px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin: 25px 42px;
  /* border-top: 1px solid #F0F0F6; */

}

.profile_skill-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile_skill-item_header {
  font-size: 15px;
  color: #767676;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}
.profile_skill-item_text {
  font-size: 15px;
  color: #767676;
  font-weight: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

/* EXTRASKILL SECTION */
.profile_extraskill_root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 242px;
  margin: 0;
  padding: 0;
  margin: 25px 42px;
  /*  border-top: 1px solid #F0F0F6; */
}

.profile_extraskill-title {
  padding: 0;
  margin: 0;
  margin-top: 70px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 123.6%;
  text-transform: capitalize;
}

.profile_extraskill_wrapper {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.profile_extrSkill-box{
  display: flex;
  align-items: center;
}

.profile_extraskill-icon {
  margin-right: 15px;
}

.profile_extraskill-name {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}


/* MIDDLE FRAME STYLES */


.middle_frame {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 27px;
  width: 971px;
  height: 1256px;
  background-color: #E5E5E5;
}

.middle_frame_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 971px;
  height: 455px;
  background-color: #fff;
}
.middle_frame_top-left_info {
  position: relative;
  width: 500px;
  margin-left: 56px;

}

.middle_frame_top-left_info-header {
  color: #2B2B2B;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.middle_frame_top-left_info-text {
  width: 424px;

  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  color: #767676;
}

.middle_frame_top-left_info-btn {
  margin-bottom: 22px;

}

.btn {
  width: 154px;
  height: 50px;
  padding: 16px 32px;
  align-items: center;
  text-transform: uppercase;
  background-color: #FFB400;
  border-style: none;
  border-radius: 5px;
}

.middle_frame_top_img {
  position: relative;
  margin-top: 16px;
  margin-left: 27px;
  width: 326px;
  height: 446px;
  z-index: 1;
}

.middle_frame_bottom-service_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}

.middle_frame_bottom-service_info-header {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.middle_frame_bottom-service_info-text {
  padding: 0;
  margin: 0;
  width: 438px;
  margin-bottom: 50px;
  text-align: center;
}

.middle_frame_bottom-service-item-wrapper-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.middle_frame_bottom-service-item-wrapper{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
/*
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;

} */

.service-item {
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-top: 28px;
  margin-right: 20px;
}



.service_item  > span {
  width: 68px;
  height: 68px;
}
.service_item_tite {
  margin-top: 26px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
  color: #2B2B2B;
}

.service_item_text {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 20px;
  width: 260px;
  text-align: center;
  font-style: 15px;
  line-height: 24px;
  color: #767676;

}
.service_item_link {
  text-decoration: none;
  color: #FFB400;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}



/* RIGHT FRAME STYLE */

.right_frame {
  position: relative;
  width: 108px;
  height: 1315px;
  background-color: #FAFAFA;
  align-items: center;
  flex-direction: column;
}

.frame_border {
  border: px solid rgb(42, 39, 34);
}

.right_frame_icon-wr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#rf_darkMode-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 175px;

}

.fr_icon {
  width: 40px;
  height: 40px;
  margin-bottom: 43px;
}
